<div class="navbar-wagon" style="margin-bottom: 40px;">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "http://placehold.it/50x50", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Restaurant dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= link_to "Restaurants", "#", class: "navbar-wagon-item navbar-wagon-link dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% Restaurant.all.each do |restaurant| %>
          <li>
            <%= link_to restaurant.name, restaurant_path(restaurant)%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= link_to "New Restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

</div>
